
body{
    padding: 0px;
    margin: 0px;
    font-size: 18px;
    font-family: arial;
    padding: 0;
}
p{
    color: #0000005e;
}
h1{
    
    color: #0000009c;

}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

.header-sec{
    height: 100vh;
}

.header-background-img img{
    height: 300px;
    width: 100%;
}
.mobile-bac{
    display: none;
}

.logo{
    display: flex;
    justify-content: center;
}

.logo img{
    height: 130px;
    margin-top: -180px;
    margin-bottom: 110px;
}

.text-box{
    display: block;
    text-align: center;
    margin-top: -70px;
}

.text-box h1{
    font-family: arial;
}

.text-box p{
    width: 745px;
    margin: auto;
    font-family: monospace;
}

.buttons{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.b1{
    color: white;
    height: 20px;
    margin: 20px;
    text-decoration: none;
    background-color: hsl(171, 66%, 44%);
    padding: 15px;
    border-radius: 30px;
}

.b2{
        color: white;   
        height: 20px;
        margin: 20px;
        text-decoration: none;
        background-color: hsl(233, 100%, 69%);
        padding: 15px;
        border-radius: 30px;
}





.sec2{
    height: 800px;
    padding-top: 20px;
    border-top: 1px solid #00000021;
}

.sec2 header{
    text-align: center;
    margin-bottom: 100px;
}

.sec2 h1{
    color: #0000009c;
    font-size: 30px;
}

.sec2 header p{
    width: 900px;
    margin: auto;
    color: #0000005e;
}

.sec2 .right{
    width: 50%;
    float: right;
}
.sec2 .right .box{
    margin-left: 130px;
}
.sec2 .right .box p{
    width: 415px;
}
.sec2 .lift{
    width: 50%;
    float: left;
}
.sec2 img{
    padding-left: 20px;
    width: 100%;
}


.sec3{
    height: 750px;
}
.sec3 .header{
    text-align: center;
    width: 715px;
    margin: auto;
}
.sec3 .img-container{
    text-align: center;
    margin-top: 100px;
}


.sec4{
    height: 600px;
}
.sec4 .header{
    text-align: center;
}
.sec4 .main-content{
    display: flex;
    justify-content: space-evenly;
    margin-top: 80px;
}
.sec4 .main-content .box{
    text-align: center;
}
.sec4 .main-content .box p{
    width: 380px;
}
.sec4 .icon-box{
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
}

.icon-box img{
    padding: 20px;
    box-shadow: 0 0rem 1rem rgb(0 0 0 / 15%);
    border-radius: 5px;
}

.sec5{
    height: 330px;
}
.sec5 .header{
    text-align: center;
}
.sec5 .header p{
    width: 690px;
    margin: auto;
}


.sec6{
    height: 150px;
    background-color: #0000000f;
}
.sec6 .icon{
    display: inline-block;
    margin: 30px 60px;
}
.sec6 .icon img{
    height: 90px;
}
.sec6 .link-container{
    display: inline-block;
    width: 670px;
    margin-left: 40px;
}
.sec6 .link-container a{
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    padding: 10px 40px;
    color: #0000009c;
}
.sec6 .link-container a:hover{
    color: #26bba4;
}

.sec6 .soical{
    display: inline-block;
    float: right;
    margin: 60px 30px;
}
.sec6 .soical img{
    padding: 5px;
}
.sec6 .soical img::after{
    color: brown;
}



@media (max-width: 500px){
    .pc-bac{
        display: none;
    }
    .mobile-bac{
        display: block;
    }
    .logo img {
        height: 80px;
        margin-top: -200px;
    }
    .text-box h1{
        width: 290px;
        margin: auto;
    }
    .text-box p{
        margin-top: 20px;
        width: 316px;
    }
    .buttons{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-direction: column;
    text-align: center;
    margin: auto;
    width: 250px;
    }
    .header-sec{
        height: 650px;
    }
    .sec2 img{
        padding-left: 0px;
    }
    .sec2 header {
        margin-bottom: 75px;
    }
    .sec2 header p{
        width: 350px;
    }

    .sec2{
    height: 1060px;
    display: flex;
    flex-direction: column;
    }

    .sec2 .lift{
        width: 90%;
        float: left;
        margin: 0px auto;
    }
    .sec2 .right{
        margin: 0px auto;
        margin-top: 30px;
        width: 315px;
        text-align: center;
    }
    .sec2 .right .box{
        margin-left: 0px;
    } 
    .sec2 .right .box p {
        width: 315px;
    }


    .sec3{
        height: 550px;
    }
    .sec3 .header{
        width: 360px;
    }
    .sec3 .img-container img{
        width: 100%;
    }


    .sec4{
        height: 1500px;
        margin-bottom: 100px;
    }
    .sec4 .header{
        width: 245px;
        margin: auto;
        margin-bottom: 120px;
    }
    .sec4 .main-content{
        display: block;
    }
    .sec4 .main-content .box{
        width: 300px;
        margin: 40px auto;
    }
    .sec4 .main-content .box p{
        width: 300px;
    }
    .sec4 .icon-box{
        display: flex;
        flex-direction: column;
        margin-top: 100px;
    }
    .sec4 .icon-box img{
        display: inline-block;
        width: 200px;
        margin: auto;
        padding: 20px;
    }


    .sec5{
        height: 465px;
    }
    .sec5 .header p{
        width: 342px;
    }

    .sec6{
        height: 500px;
        background-color: #0000000f;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-top: 30px;
    }
    .sec6 .icon{
        margin: auto;
    }
    .sec6 .link-container{
        display: inline-block;
        width: 100%;
        margin-left: 0px;
    }



}

